@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400&family=Rammetto+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Noto Sans TC', sans-serif;
}
h2{
  font-family: 'Rammetto One', sans-serif;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



/* 不要格線 */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    border: none !important;
}

.scrollbar{
  &::-webkit-scrollbar{
    width: 10px;
    margin: 50px 130px;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: #F5F2ED;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #DAD1C5;
  }
}

.leaflet-control-layers-selector{
  width: 20px;
}


/* .leaflet-control-geosearch{
  top: -20px;
} */


leaflet-tile-container {
  background-image: none !important;
}

img{
  display: block!important;
}

input {
  @apply outline-none px-2 py-1 bg-white rounded w-40; 
}
button {
  @apply cursor-pointer rounded p-2 outline-none; 
}


#typing-effect {
  white-space: nowrap;  
  overflow: hidden;     
  border-right: .15em solid gray; 
  animation: typing 3.5s steps(8, end), blink-caret .75s step-end infinite;
}

/* 打字動畫
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* 光閃動動畫 */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: gray; }
}



@layer utilities{
  .co-41588C{
    color:#41588C;
  }
  .bg-DAD1C5{
    background-color: #DAD1C5;
  }
  .co-5B6E60{
    color:#5B6E60
  }
  .co-434E4E{
    color:#434E4E;
  }
  .co-646564{
    color:#646564
  }
  .co-005264{
    color: #005264;
  }
  .co-739A65{
    color: #739A65;
  }
  .bg-F5F2ED{
    background-color:#F5F2ED;
  }
  .bg-739A65{
    background-color: #739A65;
  }
  .bg-E7EDD8{
    background-color: #E7EDD8;
  }
  .bg-87706F{
    background-color: #87706F;
  }
  .bg-997F7D{
    background-color: #997F7D;
  }
  .bg-A59D93{
    background: #A59D93;
  }
 
  .bg-84a98c{
    background-color: #84a98c;
  }
  .bg-5B6E60{
    background-color: #5B6E60;
  }
  .bg-005264{
    background-color: #005264;
  }
  .bg-5A748F{
    background-color: #5A748F;
  }
  .bg-4A6075{
    background-color: #4A6075;
  }

  .bg-507780{
    background-color: #507780;
  }
  .bg-43646B{
    background-color: #43646B;
  }
  .bg-6C8272{
    background-color: #6C8272;
  }

  .bg-646564{
    background-color:#646564
  }
  .bg-90a955{
    background-color: #90a955;
  }

 
  .co-90a955{
    color: #90a955;
  }
 
  .w-1200 {
    width: 1200px;
  }
  .w-1000 {
    width: 1000px;
  }
  .w-600 {
    width: 600px;
  }
  .w-800{
    width: 800px;
  }
 
  .w-500{
    width: 500px;
  }
  .w-380 {
    width: 360px;
  }
  .h-72 {
    height: 720px;
  }
  .custom-button:focus {
    box-shadow: none !important;
  }
  .border-co-005264{
    border-color: #005264;
  }
.z-1000{
  z-index: 1000;
}
.z-1001{
  z-index: 1001;
}
.z-1200{
  z-index: 1200;
}
.z-1100{
  z-index: 1100;
}

.z-40{
  z-index: 40;
}
.border-t-4A6075{
  border-top-color: #4A6075;

}

.border-t-5B6E60{
  border-color: #5B6E60;
}

.h-400{
  height: 400px;
}
  
  
  
  
  
}

